.slide{
    width: 75%;
    margin: 0 auto 30 auto;
}

.depoimento{
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--textDark);
    margin-bottom: 40px;
}

.nome{
    color: var(--textDark);
    font-weight: 600;
    position: relative;
}

.nome::before{
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background-color: var(--textDark);
    left: 0;
    top: -3px;
}