.carousel-indicators{
  margin-bottom: 0;
  top: 100%;
}

.carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  opacity: .5;
}

.carousel-indicators .active{
  opacity: 1;
}