.footer {
  background-color: rgb(235, 235, 235);
  padding: 20px 0;
  color: var(--textDark);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  height: inherit;
}

.logoLink {
  flex: 1;
}

.logo {
  margin-left: 5px;
}

.img {
  width: 200px;
  height: auto;
}

.footerItems {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.footerItem {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.subitem {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 5px;
}

.subitem:hover {
  color: var(--text);
}

/*Responsive*/
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .footerItems{
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }

  .footerItem{
    margin: 10px auto;
  }

  .subitem{
    margin: 5px auto;
  }

  .logoLink{
    margin: 30px auto;
  }

  .img{
    width: 150px;
  }
}
