.boletim{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
  margin: 5px 0;
}

.boletimGroup{
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 768px){
  .boletimGroup span{
    display: flex;
    flex-direction: column;
    font-size: .9rem;
  }
}

@media screen and (max-width: 330px){
  .boletimGroup span{
    font-size: .8rem;
  }
}