.matricula{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  width: 250px;
  height: 125px;
  border: 1.5px solid var(--text);
  gap: 5px;
}

.icon{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 10px;
  color: var(--text);
}

.matriculaTitle{
  color: var(--textDark);
  font-size: .9rem;
  margin: 0;
  font-weight: 600;
}

.matriculaNumber{
  color: var(--text);
  font-size: .9rem;
}

.dropdown,
.dropdownVisible{
  list-style: none;
  position: absolute;
  left: 225px;
  top: 30px;
  border: 1px solid var(--text);
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  width: max-content;
  display: none;
}

.dropdownVisible{
  display: block;
}

.dropdownItem{
  font-size: 1rem;
}

.dropdownButton{
  padding: 7.5px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: transparent;
}

.dropdownButton:hover{
  background-color: var(--textLighter2);
}