.main {
  margin-top: 150px;
  min-height: 100vh;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.container2 {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.title {
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 20px;
}

.text {
  font-size: 1rem;
  line-height: 1.6em;
  color: var(--textDark);
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 20px;
}

/*Banner Section*/

.banner {
  width: 100%;
  background-color: var(--secondaryLight);
  display: flex;
  background: url("../../public/images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay{
  display: flex;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, .5);
}

.bannerWritten {
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerTitle {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.bannerContent {
  width: 70%;
  color: white;
}

.bannerContent > .text{
  color: white;
}

/*Section B*/
.sectionB {
  margin: 50px 0;
  display: flex;
}

.sectionB1 {
  flex: 1;
  margin: 15px 2%;
}

.sectionB2 {
  flex: 2;
  margin: 15px 2%;
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  width: 100%;
  margin: 0 auto 30px auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 350px;
  margin: 0 auto;
}

.cardTitle {
  font-size: 1.5rem;
}

.cardIcon {
  flex-grow: 1;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryLight);
}

.cardContainer:first-child .card:last-child .cardIcon {
  background-color: var(--primary);
}

.cardContainer:last-child .card:first-child .cardIcon {
  background-color: var(--primaryLight);
}

.cardContainer:last-child .card:last-child .cardIcon {
  background-color: #ec9992;
}

.icon {
  font-size: 100px;
  color: white;
}

.cardContent {
  font-size: 0.9rem;
}

/*Section C*/

.sectionC {
  display: flex;
  margin-top: 50px;
}

.sectionC1 {
  flex: 1;
  margin: 15px 2%;
}

.sectionC2 {
  flex: 2;
  margin: 15px 2%;
  display: flex;
  flex-wrap: wrap;
}

/*Responsivo*/
@media screen and (max-width: 768px) {
  .main{
    margin-top: 130px;
  }

  .overlay{
    height: 400px;
  }
}
