.main {
  margin-top: 150px;
  flex: 1;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.container2 {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.title {
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 20px;
}

.text {
  font-size: 1rem;
  line-height: 1.6em;
  color: var(--textDark);
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 20px;
}

/*Section B*/
.sectionB {
  margin: 50px 0;
  display: flex;
}

.sectionB1 {
  flex: 1;
  margin: 15px 2%;
}

.sectionB2 {
  flex: 2;
  margin: 15px 2%;
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  width: 100%;
  margin: 0 auto 30px auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 350px;
  margin: 0 auto;
}

.cardTitle {
  font-size: 1.5rem;
}

.cardIcon {
  /* flex-grow: 1; */
  height: 60%;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryLight);
}

.cardContainer:first-child .card:last-child .cardIcon {
  background-color: var(--primary);
}

.cardContainer:last-child .card:first-child .cardIcon {
  background-color: var(--primaryLight);
}

.cardContainer:last-child .card:last-child .cardIcon {
  background-color: #ec9992;
}

.icon {
  font-size: 100px;
  color: white;
}

.cardContent {
  font-size: 0.9rem;
}

/*Section C*/

.sectionC {
  display: flex;
  padding: 50px 0;
}

.sectionC1 {
  flex: 1;
  margin: 15px 2%;
}

.sectionC2 {
  flex: 2;
  margin: 15px 2%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1366px){
  .main{
    margin-top: 100px;
  }
  
  .container{
    margin: 0 5%;
  }
}

/*Responsivo*/
@media screen and (max-width: 768px) {
  .container2 {
    padding: 0;
  }

  .sectionB {
    flex-direction: column;
    margin: 30px auto;
  }

  .cardContainer {
    flex-direction: column;
    margin: 0 auto;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin: 10px auto;
  }

  .sectionC {
    /* display: flex; */
    margin-top: 30px;
    flex-direction: column;
  }
  
  .sectionC1 {
    /* flex: 1; */
    margin: 15px 0%;
  }
  
  .sectionC2 {
    flex: 2;
    margin: 15px 2%;
    display: flex;
    flex-wrap: wrap;
  }
}
