.button{
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: white;
    padding: 19px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.p10{
    padding: 9px;
}

.radius{
    border-radius: 5px;
}

.button:hover{
    transition: .3s all ease;
    background-color: transparent;
    color: var(--primary);
}

@media screen and (max-width: 480px) {
    .p10{
        padding: 9px;
        font-size: .9rem;
    }
}