.button{
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: white;
    padding: 19px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.button:hover{
    transition: .3s all ease;
    background-color: transparent;
    color: var(--primary);
}