.sidebar{
    width: 200px;
    position: fixed;
    left: 0;
    top: 20%;
    transform: translate(0, -50%);
    transition: left ease .5s;
}

.sidebarClose{
    left: -200px;
}

.sidebarContent{
    width: 100%;
    height: auto;
    background-color: white;
    color: var(--textDark);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sidebarToggle{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 100%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
    border-left: none;
    border-right: 1px solid var(--text);
    color: var(--text);
}

@media screen and (max-width: 1366px){
    .sidebar{
        width: 5%;
    }
}