.main {
    margin-top: 150px;
    flex: 1;
  }
  
  .container {
    max-width: 1366px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 1.6rem;
    line-height: 1.6em;
    margin: 20px 0;
  }

  .title2{
    font-size: 1.4rem;
    line-height: 1.6em;
    margin: 20px 0;
  }
  
  .text {
    font-size: 1rem;
    line-height: 1.6em;
    color: var(--textDark);
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  
  .matriculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .matricula{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 250px;
    height: 125px;
    border: 1.5px solid var(--text);
    gap: 5px;
  }
  
  .icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 10px;
    color: var(--text);
  }

  .matriculaTitle{
    color: var(--textDark);
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
  }

  .matriculaNumber{
    color: var(--text);
  }

  .dropdown,
  .dropdownVisible{
    list-style: none;
    position: absolute;
    left: 225px;
    top: 30px;
    border: 1px solid var(--text);
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    width: max-content;
    display: none;
  }

  .dropdownVisible{
    display: block;
  }

  .dropdownItem{
    font-size: 1rem;
  }
  
  .dropdownButton{
    padding: 7.5px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    border: none;
    background-color: transparent;
  }

  .dropdownButton:hover{
    background-color: var(--textLighter2);
  }

  /*Form Cadastro*/
  .cadastrarMatricula{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .cadastrarMatricula .form{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    width: fit-content;
  }

  .cadastrarMatricula > .form > :last-child{
    padding: 10.25px 19px;
  }

  .textField{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .label{
    font-size: 1rem;
    font-weight: 600;
  }

  .input{
    width: 300px;
    height: 41px;
    padding: 5px;
    border: 1px solid var(--text);
    outline: none;
  }

  .input:focus{
    border-color: var(--primary);
  }
  
  @media screen and (max-width: 1366px) {
    .main {
      margin-top: 100px;
    }
  
    .container {
      margin: 0 5%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .text {
      font-size: 0.9rem;
      line-height: 1.6em;
      color: var(--textDark);
      letter-spacing: 1px;
      font-weight: lighter;
      margin-bottom: 20px;
    }

    .cadastrarMatricula form{
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media screen and (max-width: 375px){
    .input{
      width: 275px;
    }
  }
  