.main {
    margin-top: 150px;
    flex: 1;
  }
  
  .container {
    max-width: 1366px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 1.6rem;
    line-height: 1.6em;
    margin: 20px 0;
  }

  .title2{
    font-size: 1.4rem;
    line-height: 1.6em;
    margin: 20px 0;
  }
  
  .text {
    font-size: 1rem;
    line-height: 1.6em;
    color: var(--textDark);
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  
  .matriculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .matricula, .matriculaSelected{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    border: 1.5px solid var(--text);
    transition: border ease .5s;
    gap: 5px;
  }

  .matricula:hover, 
  .matriculaSelected{
    border-color: var(--primary);
  }

  .matricula:hover > .matriculaTitle,
  .matriculaSelected > .matriculaTitle{
    color: #000000;
  }
  
  .matricula:hover > .matriculaNumber,
  .matriculaSelected > .matriculaNumber{
    color: var(--textDark);
  }
  
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -7.5px;
    top: -7.5px;
    color: white;
    background-color: var(--primary);
  }

  .matriculaTitle{
    color: var(--textDark);
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
  }

  .matriculaNumber{
    color: var(--text);
  }

  /*Form Cadastro*/
  .cadastrarMatricula{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .cadastrarMatricula form{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    width: fit-content;
  }

  .cadastrarMatricula form :last-child{
    padding:10px 20px;
  }

  .textField{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .label{
    font-size: 1rem;
    font-weight: 600;
  }

  .input{
    width: 300px;
    padding: 10px;
    border: 1px solid var(--text);
    outline: none;
  }

  .input:focus{
    border-color: var(--primary);
  }
  
  @media screen and (max-width: 1366px) {
    .main {
      margin-top: 100px;
    }
  
    .container {
      margin: 0 5%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .text {
      font-size: 0.9rem;
      line-height: 1.6em;
      color: var(--textDark);
      letter-spacing: 1px;
      font-weight: lighter;
      margin-bottom: 20px;
    }
  }
  