.main {
    margin-top: 150px;
    flex: 1;
  }
  
  .container {
    max-width: 1366px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 1.6rem;
    line-height: 1.6em;
    margin: 20px 0;
  }

  .title2{
    font-size: 1.4rem;
    line-height: 1.6em;
    margin: 20px 0;
  }
  
  .text {
    font-size: 1rem;
    line-height: 1.6em;
    color: var(--textDark);
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  
  .matriculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  /*Form Cadastro*/
  .cadastrarMatricula{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .cadastrarMatricula .form{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    width: fit-content;
  }

  .cadastrarMatricula > .form > :last-child{
    padding: 10.25px 19px;
  }

  .textField{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .label{
    font-size: 1rem;
    font-weight: 600;
  }

  .input{
    width: 300px;
    height: 41px;
    padding: 5px;
    border: 1px solid var(--text);
    outline: none;
  }

  .input:focus{
    border-color: var(--primary);
  }
  
  @media screen and (max-width: 1366px) {
    .main {
      margin-top: 100px;
    }
  
    .container {
      margin: 0 5%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .text {
      font-size: 0.9rem;
      line-height: 1.6em;
      color: var(--textDark);
      letter-spacing: 1px;
      font-weight: lighter;
      margin-bottom: 20px;
    }

    .cadastrarMatricula form{
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media screen and (max-width: 375px){
    .input{
      width: 275px;
    }
  }
  