.main {
  margin-top: 130px;
  flex: 1;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.title {
  font-size: 1.6rem;
  line-height: 1.6em;
  margin: 20px 0;
}

.title2{
  font-size: 1.4rem;
  line-height: 1.6em;
  margin: 20px 0;
}

.text {
  font-size: 1rem;
  line-height: 1.6em;
  color: var(--textDark);
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 20px;
}

.declaracoes{
  margin: 50px auto;
}

.inputGroup{
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.input{
  display: none;
}

.label{
  display: flex;
  align-items: center;
}

.span,
.spanSelected{
  display: flex;
  align-items: center;
  justify-content: center;  
  position: relative;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
  background-color: white;
  color: transparent;
  border: 1px solid var(--text);
  border-radius: 5px;
}

.spanSelected{
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}

@media screen and (max-width: 1366px) {
  .main {
    margin-top: 100px;
  }

  .container {
    margin: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 0.9rem;
    line-height: 1.6em;
    color: var(--textDark);
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
}
